.card {
    --card-width: 90px;
    --card-height: 120px;
    height: var(--card-height);
    width: var(--card-width);
    perspective: 1000px;
    cursor: pointer;
    z-index: 0;
}

.card-mini {
    width: 45px;
    height: 60px;
    perspective: 1000px;
    cursor: pointer;
    z-index: 0;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* border-radius: 10px; */
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.card-img {
    height: 100%;
    border-radius: 5px;
    border: solid black 1px;
}

.card-back {
    transform: rotateY(180deg);
}

.card:hover .card-inner.usable {
    transform: translateY(-30px) translateX(-30px);
}

.card-mini:hover .card-mini {
    transform: translateZ(3);
}

.card-inner.usable {
    box-shadow: #282828 15px 5px 5px;
}

.card-inner.flip-it {
    transform: rotateY(180deg);
}