/* .room styling */
.room {
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* Common styles for waiting-screen and game-screen */
.waiting-screen,
.game-screen {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    font-size: larger;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    overflow-x: scroll;
}

/* .link styling */
.link {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    border: 2px solid #181818;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
}

.link:hover {
    background-color: #666;
}

/* .game-screen layout */
.game-screen {
    display: grid;
    grid-template-columns: 70% 29%;
    gap: 1%;
    min-width: 750px;
    overflow-x: auto;
}

.mobile {
    margin-block: 100px;
    display: none;
}

@media (max-width: 1000px) {
    .game-screen {
        display: none !important;
    }

    .mobile {
        display: block;
    }
}

/* @media (max-width: 1000px) {
    .game-screen {
        display: flex;
        flex-direction: column;
    }

    .game-main {
        background-color: blue;
        height: 100%;
        overflow-y: auto;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-bar {
        height: 20% !important;
        grid-template-columns: 49% 49% !important;
        grid-template-rows: 100% !important;
    }

} */

/* .game-main layout */
.game-main {
    background-color: blue;
    width: 100%;
    height: 100%;
    /* min-height: fit-content; */
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Player 1 styling */
.game-main .p1,
.game-main .p2 {
    margin-block: 20px;
    /* width: 600px; */
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 600px;
}


.middle {
    display: grid;
    grid-template-columns: 540px 90px;
    gap: 40px;
    align-items: center;
}

.piles {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 20px;
}

.pile {
    display: grid;
    grid-template-columns: repeat(4, 15px);
}

.deck {
    height: 120px;
    width: 90px;
}